<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<nav>
    <img src="/img/the_simpsons.png" alt="" height="80px" width="100">
    <a href="/favorite-quotes">Fav Qoute</a>
  

</nav>
<body class="cards">

    <div > 
        <a href="/">Home</a>
        <% if(count<=0){%>
            <h4>You dont have any to your fav <a href="/">add one</a></h4>
        <%}%>
        <%data.forEach(item=>{%>
        <div class="card">
            <img src="<%=item.image%>" alt="" width="200" height="200">
            <h1><%=item.character%></h1>
            <p> <%=item.quote%></p>
            <p><%=item.characterDirection%></p>
        
            <a href="/update/<%=item.id%>" class="update">Update</a>

            <form action="/delete/<%=item.id%>?_method=DELETE%>" method="post">
                <button class="delete">Delete</button>
            </form>
        </div>
        <%})%>
    </div>
</body>
</html>